apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

# Staging mirrors prod but with fewer replicas
patches:
  - target:
      kind: Deployment
      name: compute-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
